<ul>
    {{#each beers}}
    <li>
        <img src="{{this.image_url}}" alt="">
        <div>{{this.name}}</div>
        <div>{{this.tagline}}</div>
        <div>{{this.description}}</div>
    </li>
    {{/each }}
</ul>